body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background: linear-gradient(90deg, 
                rgb(233, 199, 27) 0%, 
                rgb(107, 214, 93) 50%, 
                rgb(185, 233, 27) 100%);
  }
  
  .container {
    max-width: 60em;
    margin: auto;
    padding: 1em;
  }
  
  .light-border {
    border-radius: 12px;
    border: 2px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
  }
  
  nav {
    background: linear-gradient(90deg, 
                rgb(144, 233, 27) 0%, 
                rgb(93, 214, 166) 50%, 
                rgb(27, 233, 79) 100%);
    border-radius: 12px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    overflow:hidden;
  }

  nav a {
    float: left;
    color:rgb(233, 27, 27);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .active {
    background-color:rgb(236, 204, 42);
    border-radius: 12px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
  }
  
  li {
    width: 30%;
    margin: 0.5em;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
  
  .resp {
    width: 100%;
  }
  
  .forms {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-wrapper {
    text-align: center;
    margin:auto;
    background: linear-gradient(90deg, 
                rgb(238, 77, 19) 0%, 
                rgb(231, 186, 27) 50%, 
                rgb(236, 42, 42) 100%);
    border-radius: 12px;
    width: 33%;
  }
  
  input,
  button,
  select {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
  }
  
  select {
    line-height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  
  .button {
    background-color: #ccc;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
    border: 1px rgb(74, 74, 74) solid;
    text-align: center;
    text-decoration: none;
  }
  
  .single img {
    width: 100%;
  }
  
  #map {
    width: 100%;
    height: 30rem;
  }
  